numpy==1.23.5
pmdarima
pandas 
scikit-learn 
scipy
statsmodels
lightgbm 
matplotlib 
seaborn 
plotly
secure-smtplib
ta
robin_stocks
polars
lightgbm
pytz
sqlalchemy
python-dateutil
python-dotenv
joblib
streamlit
altair
openai==0.28
markdown2
python-docx
setuptools
streamlit_plotly_events
streamlit-lottie
requests
google-genai==1.7.0
google.api_core
google-genai
streamlit==1.36.0